@import "reset.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tabs {
  border-bottom: solid 1px #eee;
  padding: 10px;
  padding-bottom: 0;
}

.tabs a {
  text-transform: capitalize;
  padding: 8px 10px;
  text-decoration: none;
  display: inline-block;
  color: #999;
  transition: background-color 0.2s;
  border-bottom: solid 3px transparent;
}

.tabs a:hover {
  background: #fafafa;
}

.tabs a.activeNav {
  font-weight: normal;
  color: #0078d4;
  border-bottom-color: #0078d4;
}

.ms-TextField-wrapper .ms-Label {
  text-transform: capitalize;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.page-nav {
  height: 44px;
}

.page-content {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs li {
  display: inline-block;
}

.withFilter {
  display: flex;
  flex-direction: column;
}

.withFilter .header .filterWrapper {
  margin-bottom: 10px;
  border: solid 1px #eee;
}

.withFilter .content {
  flex: 1;
  overflow: auto;
}

.withFilter .filters {
  display: flex;
  border-bottom: solid 1px #eee;
  padding: 10px;
  background: #fafafa;
}

.withFilter .filters > li {
  display: flex;
  padding-right: 10px;
  align-items: center;
}

.withFilter .filters > li > label {
  text-transform: capitalize;
  display: inline-block;
  padding-right: 5px;
  font-weight: 600;
}

.withFilter .actions {
  padding: 10px;
}

.ms-Dialog-main {
  min-width: 640px !important;
}


.field {
  padding-bottom: 10px;
  border-top: solid 1px #eee;
}

.field .row {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: solid 1px #eee;
}

.field .row .label {
  width: 130px;
  text-transform: capitalize;
  line-height: 32px;
  padding-left: 10px;
  font-weight: 600;
}

.field .row .value {
  flex: 1;
  line-height: 32px;
}

/* overwrite textField */

.ms-TextField .ms-TextField-errorMessage {
  background: #a80000;
  color: #fff;
  padding: 5px 8px;
  position: absolute;
  top: 33px;
  line-height: 130%;
  opacity: 0.8;
  z-index: 100;
}

.ms-Toggle {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.ms-Toggle .ms-Toggle-innerContainer {
  align-items: center;
}

.ms-Panel-content {
  padding: 20px !important;
}

.config .ms-Button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.ms-Overlay {
  cursor: default !important;
}

.schemaLoader {
  position: absolute;
  left: 16px;
}

.noSchemaWrapper {
    padding: 5px 45px 5px 5px;
}

b, strong {
  font-weight: 600 !important;
}

.fullPageSpinner {
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: flex;
  background: rgba(255,255,255,0.5);
}

.fullPageSpinner .ms-Spinner-circle {
  margin: 0 !important;
}